a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#char_creation {
    margin-top: 1em;
    border: 1px solid #bbb;
    width: 30em;
}

#char_creation .fixed_width {
    width: 12em;
    margin-top: .25em;
    float: left;
    text-align: right;
}

#char_creation .form {
    text-align: center;
    width: 29em;
}

#char_creation h3 {
    margin-top: 0px;
    background-color: #999;
    color: white;
    text-align: center;
}

#char_creation input {
    margin-top: .25em;
}

#char_creation select {
    margin-top: .25em;
}

#descriptions {
    width: 30em;
    border: 1px solid #bbb;
    height: 6em;
}

#descriptions h3 {
    margin-top: 0px;
    background-color: #999;
    color: white;
    text-align: center;
}

.error {
    color: red;
    font-weight: bold;
    text-align: center;
}

#header {
    clear: both;
    height: 6em;
    border: 1px solid #000;
    background-color: #bbb;
}

#header_character_picker {
    text-align: center;
}

#header_character_picker p {
    margin-top: 0px;
}

#header_logo {
    float: left;
    height: 100px;
    width: 100px;
}

#header_logo img {
    height: 6em;
    width: 6em;
}

#header_nav_buttons {
    text-align: center;
    margin-top: 2.25em;
    margin-left: auto;
    margin-right: auto;
}

#header_quick_login {
    float: right;
    width: 20em;
    height: 5.5em;
    background-color: #ddd;
    margin: .25em;
    border: 1px solid #999;
}

#header_quick_login .fixed_width {
    float: left;
    text-align: right;
    width: 7em;
    margin-top: .25em;
}

#header_quick_login input {
    margin-top: .25em;
}

#header_username {
}

#header_username p {
    width: 100%;
    text-align: center;
    margin-top: 3em;
}

#login_form {
    margin-top: 1em;
    border: 1px solid #bbb;
    width: 20em;
    margin-left: auto;
    margin-right: auto;
}

#login_form .fixed_width {
    width: 6em;
    margin-top: .25em;
    float: left;
    text-align: right;
}

#login_form .form {
    text-align: center;
    width: 19em;
}

#login_form h3 {
    margin-top: 0px;
    background-color: #999;
    color: white;
    text-align: center;
}

#login_form input {
    margin-top: .25em;
}

#main_text {
}

#main_text p {
    padding: .25em;
}


.nav_button {
    background-color: #bbb;
    height: 2em;
    margin-right: 1em;
    padding-top: .25em;
    padding-bottom: .25em;
    color: #fff;
}

.nav_button a {
    height: 2em;
    padding-left: 1em;
    padding-right: 1em;
    color: #fff;
    text-decoration: none;
    border: none;
}

#sidebar {
    width: 15em;
    border: 1px solid #333;
    padding: .25em;
    margin-top: .25em;
    background-color: #bbb;
    float: right;
}

#sidebar h3 {
    text-align: center;
    margin-top: 0px;
    color: white;
    background-color: #999;
}
