.error {
    color: red;
    font-weight: bold;
    text-align: center;
}

#header {
    clear: both;
    height: 6em;
    border: 1px solid #000;
    background-color: #ccc;
}

#header_logo {
    float: left;
    height: 100px;
    width: 100px;
}

#header_logo img {
    height: 6em;
    width: 6em;
}

#header_nav_buttons {
    text-align: center;
    margin-top: 2.25em;
    margin-left: auto;
    margin-right: auto;
}

#header_quick_login {
    float: right;
    width: 20em;
    height: 5.5em;
    background-color: #ddd;
    margin: .25em;
    border: 1px solid #999;
}

#header_quick_login .fixed_width {
    float: left;
    text-align: right;
    width: 7em;
    margin-top: .25em;
}

#header_quick_login input {
    margin-top: .25em;
}

#login_form {
    margin-top: 1em;
    border: 1px solid #ccc;
    width: 20em;
    margin-left: auto;
    margin-right: auto;
}

#login_form .fixed_width {
    width: 6em;
    margin-top: .25em;
    float: left;
    text-align: right;
}

#login_form .form {
    text-align: center;
    width: 19em;
}

#login_form h3 {
    margin-top: 0px;
    background-color: #999;
    color: white;
    text-align: center;
}

#login_form input {
    margin-top: .25em;
}

.nav_button {
    background-color: #ccc;
    height: 2em;
    margin-right: 1em;
    padding-top: .25em;
    padding-bottom: .25em;
    color: #fff;
}

.nav_button a {
    height: 2em;
    padding-left: 1em;
    padding-right: 1em;
    color: #fff;
    text-decoration: none;
    border: none;
}
